<head th:fragment="head(currentPage, currentPageFragments)" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MediShare - For your life">
    <!-- TODO <meta name="keywords" content=""> -->
    <title>MediShare</title>

    <!-- common css -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- fragment css -->
    <link rel="stylesheet" th:if="${currentPageFragments == 'headerAndFooter'}" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:if="${currentPageFragments == 'headerAndFooter'}" th:href="@{/css/fragments/footer.css}">
    <link rel="stylesheet" th:if="${currentPageFragments == 'sidebar'}" th:href="@{/css/fragments/sidebar.css}">
    <script th:if="${currentPageFragments == 'sidebar'}" th:src="@{/js/fragments/sidebar.js}" defer></script>
    <!-- page css -->
    <link rel="stylesheet" th:if="${currentPage == 'login'}" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:if="${currentPage == 'register_account'}" th:href="@{/css/register_account.css}">
    <link rel="stylesheet" th:if="${currentPage == 'login_error'}" th:href="@{/css/login_error.css}">
    <link rel="stylesheet" th:if="${currentPage == 'initial_guidance'}" th:href="@{/css/initial-guidance.css}">
    <link rel="stylesheet" th:if="${currentPage == 'dashboard'}" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:if="${currentPage == 'register_medicine'}" th:href="@{/css/register_medicine.css}">
    <link rel="stylesheet" th:if="${currentPage == 'edit_medicine'}" th:href="@{/css/edit_medicine.css}">
    <link rel="stylesheet" th:if="${currentPage == 'medicine_details'}" th:href="@{/css/medicine_details.css}">
    <link rel="stylesheet" th:if="${currentPage == 'report_medicine'}" th:href="@{/css/report_medicine.css}">
    <link rel="stylesheet" th:if="${currentPage == 'medicine_dashboard'}" th:href="@{/css/medicine_dashboard.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
</head>