<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MediShare - For your life">
    <!-- TODO <meta name="keywords" content=""> -->
    <title>MediShare</title>
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/fragments/sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- hamburger menu -->
        <div class="overlay-menu">
            <div class="menu-content">
                <h1 class="MediShare-text">MEDISHARE</h1>
                <p class="ForYourLife-text">For your life</p>
                <section id="email-container-mobile">
                    <h3 id="email">example@domain.com</h3>
                    <button id="logout-btn">ログアウト</button>
                    <p><a href="#">設定</a></p>
                </section>
                <section id="tips-containers-mobile">
                    <h4 id="tips-title">よくある質問</h4>
                    <div class="tip-container">
                        <input type="checkbox" class="tip" id="tip1-mobile">
                        <label for="tip1-mobile" class="label">お薬の登録方法</label>
                        <div class="tip-content">
                            <p>時間帯カードを選択肢、お薬一覧画面の"+"ボタンをクリックすると、お薬の登録画面に移動します。</p>
                        </div>
                    </div>
                    <div class="tip-container">
                        <input type="checkbox" class="tip" id="tip2-mobile">
                        <label for="tip2-mobile" class="label">お薬の編集方法</label>
                        <div class="tip-content">
                            <p>お薬の登録方法についての説明がここに入ります。</p>
                        </div>
                    </div>
                    <div class="tip-container">
                        <input type="checkbox" class="tip" id="tip3-mobile">
                        <label for="tip3-mobile" class="label">お薬の削除方法</label>
                        <div class="tip-content">
                            <p>お薬の登録方法についての説明がここに入ります。</p>
                        </div>
                    </div>
                    <div class="tip-container">
                        <input type="checkbox" class="tip" id="tip4-mobile">
                        <label for="tip4-mobile" class="label">カードがオレンジになる理由</label>
                        <div class="tip-content">
                            <p>お薬の登録方法についての説明がここに入ります。</p>
                        </div>
                    </div>
                    <div class="tip-container">
                        <input type="checkbox" class="tip" id="tip5-mobile">
                        <label for="tip5-mobile" class="label">アカウントの設定・削除について</label>
                        <div class="tip-content">
                            <p>お薬の登録方法についての説明がここに入ります。</p>
                        </div>
                    </div>
                </section>
                <section id="footer-title-mobile">
                    <p><a href="#">プライバシーポリシー</a></p>
                    <p><a href="#">会員規約</a></p>
                    <p><a href="#">利用規約</a></p>
                </section>
            </div>
        </div>

        <!-- desktop contents -->
        <section id="header-title">
            <h1 class="MediShare-text">MEDISHARE</h1>
            <p class="ForYourLife-text">For your life</p>
            <img src="../../static/img/icon.png" alt="MediShare Icon" class="MediShare-icon">
            <button class="hamburger-menu" aria-label="メニュー">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </section>
        <section id="email-container-desktop">
            <h3 id="email">example@domain.com</h3>
            <button id="logout-btn">ログアウト</button>
            <p><a href="#">設定</a></p>
        </section>
        <section id="tips-containers-desktop">
            <h4 id="tips-title">よくある質問</h4>
            <div class="tip-container">
                <input type="checkbox" class="tip" id="tip1-desktop">
                <label for="tip1-desktop" class="label">お薬の登録方法</label>
                <div class="tip-content">
                    <p>時間帯カードを選択肢、お薬一覧画面の"+"ボタンをクリックすると、お薬の登録画面に移動します。</p>
                </div>
            </div>
            <div class="tip-container">
                <input type="checkbox" class="tip" id="tip2-desktop">
                <label for="tip2-desktop" class="label">お薬の編集方法</label>
                <div class="tip-content">
                    <p>お薬の登録方法についての説明がここに入ります。</p>
                </div>
            </div>
            <div class="tip-container">
                <input type="checkbox" class="tip" id="tip3-desktop">
                <label for="tip3-desktop" class="label">お薬の削除方法</label>
                <div class="tip-content">
                    <p>お薬の登録方法についての説明がここに入ります。</p>
                </div>
            </div>
            <div class="tip-container">
                <input type="checkbox" class="tip" id="tip4-desktop">
                <label for="tip4-desktop" class="label">カードがオレンジになる理由</label>
                <div class="tip-content">
                    <p>お薬の登録方法についての説明がここに入ります。</p>
                </div>
            </div>
            <div class="tip-container">
                <input type="checkbox" class="tip" id="tip5-desktop">
                <label for="tip5-desktop" class="label">アカウントの設定・削除について</label>
                <div class="tip-content">
                    <p>お薬の登録方法についての説明がここに入ります。</p>
                </div>
            </div>
        </section>
        <section id="footer-title-desktop">
            <p><a href="#">プライバシーポリシー</a></p>
            <p><a href="#">会員規約</a></p>
            <p><a href="#">利用規約</a></p>
        </section>
    </header>

    <script>
        // for hamburger menu
        document.querySelector('.hamburger-menu').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.overlay-menu').classList.toggle('active');
            document.body.classList.toggle('menu-open');
        });

        // for desktop tips
        document.querySelectorAll('#tips-containers-desktop .tip').forEach(tip => {
            tip.addEventListener('change', function() {
                const content = this.nextElementSibling.nextElementSibling;
                
                // close unselected tips
                document.querySelectorAll('#tips-containers-desktop .tip').forEach(otherTip => {
                    if (otherTip !== this) {
                        otherTip.checked = false;
                        const otherContent = otherTip.nextElementSibling.nextElementSibling;
                        otherContent.style.height = "0px";
                    }
                });

                // open selected tip
                if (this.checked) {
                    content.style.height = "auto";
                    const height = content.scrollHeight + 20 + "px"; //20 means bottom padding height
                    content.style.height = "0px";
                    requestAnimationFrame(() => {
                        content.style.height = height;
                    });
                } else {
                    content.style.height = "0px";
                }
            });
        });

        // for mobile tips
        document.querySelectorAll('#tips-containers-mobile .tip').forEach(tip => {
            tip.addEventListener('change', function() {
                const content = this.nextElementSibling.nextElementSibling;
                
                // close unselected tips
                document.querySelectorAll('#tips-containers-mobile .tip').forEach(otherTip => {
                    if (otherTip !== this) {
                        otherTip.checked = false;
                        const otherContent = otherTip.nextElementSibling.nextElementSibling;
                        otherContent.style.height = "0px";
                    }
                });

                // open selected tip
                if (this.checked) {
                    content.style.height = "auto";
                    const height = content.scrollHeight + 20 + "px"; //20 means bottom padding height
                    content.style.height = "0px";
                    requestAnimationFrame(() => {
                        content.style.height = height;
                    });
                } else {
                    content.style.height = "0px";
                }
            });
        });
    </script>
</body>
</html>