/* Google Fonts settings
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdfdfd;
    line-height: 1;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: var(--black);
}

:root{
    --white: #ffffff;
    --mikan: #f08300;
    --black: #2c3e50;
    --gray-light: #f8f9fa;
    --gray: #666666;
    --gray-darker: #444444;
    --shadow-light: rgba(0, 0, 0, 0.05);
    --shadow: rgba(0, 0, 0, 0.1);
}

.MediShare-text{
    font-family: 'Limelight', sans-serif;
    font-size: 48px;
    color: var(--mikan);
}

.ForYourLife-text{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: bold;
    font-weight: 500;
    color: var(--black);
}

.MediShare-icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
}