<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('login', 'headerAndFooter')"></head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <div id="wrapper1">
            <div id="wrapper2">
                <h1>ログイン</h1>
                <form th:action="@{/login}", onsubmit="showDialog(event)" method="post" id="login-form">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="input-group">
                        <img th:src="@{/img/user-icon.png}" alt="メールアドレスアイコン" class="no-display-in-mobile-icon">
                        <div class="input-text-group">
                            <label for="username">メールアドレス</label>
                            <input type="text" id="username" name="username" placeholder="example@domain.com" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <img th:src="@{/img/password-icon.png}" alt="パスワードアイコン" class="no-display-in-mobile-icon">
                        <div class="input-text-group">
                            <label for="password">パスワード（英数字混合・6文字以上）</label>
                            <input type="password" id="password" name="password" placeholder="・・・・・・" required>
                            <button type="button" id="show-password">
                                <img id="password-eye" th:src="@{/img/eye-slash-icon.png}" alt="パスワードの表示アイコン" th:data-eye-open-path="@{/img/eye-open-icon.png}" th:data-eye-close-path="@{/img/eye-slash-icon.png}">
                            </button>
                            <a href="#" id="does-forget-password">パスワードをお忘れですか？</a>
                        </div>
                    </div>
                    <div id="remember-username-group">
                        <input type="checkbox" name="remember-username" id="remember-username" value="on" checked />
                        <label for="remember-username">メールアドレスを記憶する</label>
                    </div>
                    <div id="remember-userInfo-group">
                        <input type="checkbox" name="remember-me" id="remember-me" value="on" checked />
                        <label for="remember-me">ログイン情報を記憶する</label>
                    </div>
                    <button type="submit">ログイン</button>
                    <div id="to-register-account">
                        <p>アカウントが未登録ですか？</p>
                        <a th:href="@{/register_account}">アカウントの作成</a>
                    </div>
                </form>
            </div>
        </div>
        <dialog id="loading-dialog">
            <div id="loading-dialog-content">
                <img th:src="@{/img/loading-cat.gif}" alt="ローディング" id="loading-cat">
                <p id="loading-message">ログイン中</p>
            </div>
        </dialog>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/js/login.js}"></script>
</body>
</html>