<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('login', 'headerAndFooter')"></head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <main>
        <div id="wrapper1">
            <div id="wrapper2">
                <h1>ログイン</h1>
                <form action="#" method="post">
                    <div class="input-group">
                        <img th:src="@{/img/user-icon.png}" alt="メールアドレスアイコン">
                        <div class="input-text-group">
                            <label for="username">メールアドレス</label>
                            <input type="text" id="username" name="username" placeholder="example@domain.com" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <img th:src="@{/img/password-icon.png}" alt="パスワードアイコン">
                        <div class="input-text-group">
                            <label for="password">パスワード（英数字混合・6文字以上）</label>
                            <input type="password" id="password" name="password" placeholder="････････" required>
                            <a href="#" id="does-forget-password">パスワードをお忘れですか？</a>
                        </div>
                    </div>
                    <button type="submit">ログイン</button>
                    <div id="to-register-account">
                        <p>アカウントが未登録ですか？</p>
                        <a th:href="@{/register_account}">アカウントの作成</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>